html{
    margin: 10px;
}

body{
    background-color: gray;
    height: 100%;
    width: 100%;
    margin: 10px;
}

.wrap{
    position: static;
    background-color: lightcoral;
    width: calc(100% - 10px);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.header{
    min-height: 150px;
    margin-bottom: 15px;
    border-bottom: 2px dashed gray;
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(47, 75, 42, 0.8)), to(rgba(35, 62, 150, 0.8))), url(header-logo.jpeg);
    background-image: linear-gradient(to right bottom, rgba(7, 68, 205, 0.6), rgba(18, 12, 108, 0.6)), url(header-logo.jpeg);
    background-size: cover;
    background-position: top;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* -webkit-clip-path: polygon(0 0, 100% 0, 100% 120px, 0 100%); */
    clip-path: polygon(0 0, 100% 0, 100% 100px, 0 100%)

}

.header .logo{
    max-width: 250px;
    width: 250px;
    height: 100px;
}
 .header .logo img{
    max-width: 250px;
 }