body {
    margin: 20px;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    overflow-x: hidden;
    background-color: lightgray;
}

.wrap {
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}



.content {
    width: 100%;
    min-height: 450px;
    float: left;
    padding: 1rem;
}

.sidebar {
    width: calc((100%) - 80% - 2rem);
    min-height: 450px;
    float: right;
    background-color: red;
}

.footer {
    background-color: #333;
    padding: 5rem 0;
    font-size: 1.1rem;
    color: #f7f7f7;
    width: 100%;
}

.footer .logo {
    text-align: center;
    height: 13rem;
}

.footer-navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block;
    width: 100%;
}


.footer-list {
    list-style: none;
    padding: 0px;
    text-align: center;
}

.footer-item {
    display: inline-block;
    padding: 0;
}

.footer-item:not(:last-child) {
    margin-right: 1.5rem
}

.footer .link:link,
.footer .link:visited {
    color: #fff827;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
}

.footer .link:hover,
.footer .link:active {
    color: #55c57a;
}

.footer .copyright {
    border-top: 1px solid #777;
    padding-top: 2rem;
    width: 100%;
    font-family: monospace;
    line-height: 1.4rem !important;
}

.footer .copyright .link {
    font-size: 1rem;
    color: white;
    text-decoration: underline;
}

.clear {
    clear: both;
}

.text-primary {
    color: blue;
}


.text-white {
    color: white;
}

.text-danger {
    color: red;
}

.text-success {
    color: green;
}

.text-warning {
    color: yellow;
}

.heading-1 {
    font-size: 3.5rem;
}

.heading-2 {
    font-size: 1.8rem
}

.heading-3 {
    font-size: 1.5rem
}

*[class^="heading"] {
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    letter-spacing: .2rem;
    transition: all .2s;
}


.paragraph {
    font-size: 1.6rem
}

.paragraph:not(:last-child) {
    margin-bottom: 3rem
}

.bg-white-transparent {
    opacity: 0.7;
    background-color: white;
    padding: 10px;
}

.container-info {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(47, 75, 42, 0.8)), to(rgba(35, 62, 150, 0.8))), url(header-logo.jpeg);
    background-image: linear-gradient(to right bottom, rgba(2, 28, 205, 0.6), rgba(12, 19, 1, 0.6)), url(header-logo.jpeg);
    background-size: cover;
    background-position: top;
}

.container-info:not(:last-child) {
    margin: 100px !important;
}

.our-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: calc(100% - 1rem);
    min-width: 300px;
    display: block;
    background-color: #fff;
    transition: transform 0.8s;
}

.our-card .our-card-header {
    padding: 1rem 0 1rem 0.6rem;
}

.our-card-header .our-card-title {
    font-size: 1.8em;
    font-weight: bold;
    margin: auto;
}

.our-card .our-card-body {
    padding: 0px 20px 10px 20px;
    padding: 10px;
}